[submodule "themes/hugo-PaperModX"]
	path = themes/hugo-PaperModX
	url = https://github.com/reorx/hugo-PaperModX.git
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/reorx/hugo-PaperModX.git
[submodule "themes/hugoPaperModX"]
	path = themes/hugoPaperModX
	url = https://github.com/reorx/hugo-PaperModX.git
