#menu a.active:hover {
    color: var(--primary);
}
#menu .active {
    color: var(--primary);
    box-shadow: 0 2px 0 var(--primary);
}
button#theme-toggle {
    font-size: 32px;
    margin: auto 16px;
}
