#menu a.active:hover {
    color: var(--primary);
}
#menu .active {
    color: var(--primary);
    box-shadow: 0 2px 0 var(--primary);
}
button#theme-toggle {
    font-size: 32px;
    margin: auto 16px;
}
.first-entry .entry-header {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: unset;
}
.first-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 320px;
  margin: var(--gap)0 calc(var(--gap) * 2);
}
